{% include "users/base.html" %}
{% load timetags %}
<div class="container-fluid">
    <ul class="list-group">
    
        {% for st in struc %}
        <li class="list-group-item col-xs-12 col-md-8 col-md-offset-2">

                <span class="col-xs-1 glyphicon glyphicon-user btn-lg" aria-hidden="true"></span>
                <div class="col-xs-9">
                    <span href="#" name="createProfile{{ st.feed.user }}" data-toggle="modal" data-target="#profileModal{{ st.feed.user }}">
                        <b>{{ st.feed.fname }} {{ st.feed.lname }}</b>
                    </span> -
                    <a href="#" name="createProfile{{ st.feed.user }}" data-toggle="modal" data-target="#profileModal{{ st.feed.user }}">
                        @{{ st.feed.user }}
                    </a>
                </div>

                <div class="col-xs-2">

                    {% if st.feed in favfeeds %}
                        <a style="color:#dd0" href="/app/unfav/{{ st.feed.id }}"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></a>
                        <small><u>Unstar</u></small>
                    {% else %}
                        <a style="color:#dd0" href="/app/fav/{{ st.feed.id }}"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></a>
                        <small><u>Star</u></small>
                    {% endif %}


                </div>

                <div class="col-xs-8">
                    {{ st.feed.verb }}
                    <a href="">{{ st.feed.event }}</a> in
                    <a href="">#{{ st.feed.place }}</a>
                    Find more at: <a href="{{ st.feed.link }}">{{ st.feed.link }}</a>
                </div>

                <div class="col-xs-3">
                    <small>{{ st.feed.time|print_timestamp }}</small>
                </div>
        </li>
        {% endfor %}

    </ul>
</div>


{% for st in struc %}
<!-- Modal Start -->
<div class="modal fade" id="profileModal{{ st.feed.user }}" tabindex="-1" role="dialog" aria-labelledby="createProfilelabel{{ st.feed.user }}" aria-hidden="true">
    
    <div class="modal-dialog">
        <div class="modal-content">
    
            <div class="modal-header">
                <button type="button" class="close" style="color:red;" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="UserName">@{{ st.usr.username }}</h4>
            </div>

            <div class="modal-body">
                
                <label class="col-xs-3">{{ st.usr.fname }} {{ st.usr.lname }}</label>
                <label class="col-xs-3">{{ st.usr.college }} </label>
                <label class="col-xs-6"><a href="mailto:{{ st.usr.email }}">{{ st.usr.email }}</a> </label><br><br>
                <label class="col-xs-12">About: {{ st.usr.bio }}</label><br><br>
                <footer>
                    <span class="col-xs-8"></span>
                    <span class="col-xs-4">
                    <a class="" href=""><i class="icon-large icon-google-plus"></i></a>
                    <a class="" href=""><i class="icon-large icon-twitter"></i></a>
                    <a class="" href=""><i class="icon-large icon-facebook"></i></a>
                    <a class="" href=""><i class="icon-large icon-linked-in"></i></a>
                    </span>
                    <br>
                </footer>
                <br>
            </div>
        </div>
    </div>
</div>
<!-- Modal End -->
{% endfor %}